body {
  overflow-x: visible;
  overflow-y: visible;
  height: 100%;
  min-height: 100%;
  font-family: Roboto, sans-serif;
  color: #7d9091;
  font-size: 16px;
  line-height: 24px;
}
h1 {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
}
h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #4ac2c9;
  font-size: 16px;
  line-height: 36px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}
h3 {
  margin-bottom: 6px;
  color: #7d9091;
  font-size: 18px;
  line-height: 30px;
}
h4 {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  display: inline;
  height: inherit;  
  font-size: 14px;
}
.u-btn {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 6px 8px;
  float: none;
  border: 1px solid #cae650;
  border-radius: 2px;
  background-color: #cae650;
  color: #296573;
  text-align: center;
  text-decoration: none;
  cursor:pointer;
}
.u-btn.filter,
.u-btn.filter:visited,
.u-btn.filter:focus,
.u-btn.filter:active {
  border-color: #cfd9db;
  background-color: #f8f8f8;
  color: #7d9091;  
  float:right;
}
.u-btn.filter:hover {
  border-color: #C0C8CA;
  background-color:#ffffff;
}
.u-btn:hover {
  border-color: #bbd645;
  background-color: #bbd645;
  text-decoration: none;
}
.u-btn.right {
  float:right;
}
.u-btn.tel {
  margin-top: 6px;
  margin-bottom: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid #00ccc5;
  background-color: transparent;
  color: #00ccc5;
}
.u-btn.tel:hover {
  border-color: #64d3f5;
  color: #0be3dc;
}
.u-btn.query {
  left: 0px;
  top: -7px;
  right: 0px;
  bottom: 0px;
  display: block;
  border: 0px none transparent;
  border-radius: 0px;
  background-color: #e65e5e;
  color: white;
  font-weight: 300;
}
.u-btn.query:hover {
  background-color: rgba(230, 94, 94, 0.78);
}
.u-btn.query.booked {
  background-color: #91c854;
  cursor:text;
}
.u-btn.query.booked > span {
  color: #ffffff;
  cursor:text;
}
.u-btn.right {
  float:right;
}
.u-btn.btn-sm {
  padding: 2px 6px;
  font-size: 13px;
}
.u-btn.btn-sm > span, .u-btn.fav > span {
  color: #296573;
  padding:0;
}
.u-btn.fav {
  background-color: #ecf0f1;
  border-color: #cfd9db;  
  color: #7d9091;
}
.u-btn.fav:hover {
  background-color: #dde4e6;
}
.u-btn.btn-done {
  border-color: #cfd9db;
  background-color: #ecf0f1;
  color: #7d9091;
}
.u-btn.btn-done:hover {
  background-color: #dde4e6;
}
.u-btn.btn-done > span {
  color: #7d9091;
  padding:0;
}
.u-btn.round {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  border-radius: 69px;
  font-size: 24px;
  font-weight: 500;
}
.u-btn.nav {
  margin-top: 12px;
  margin-right: 8px;
}
.u-btn.nav:hover {
  background-color: white;
  color: #cae650;
  text-decoration: none;
}
.u-btn.block {
	display: block;
	width:100%;
	border:none;
  color: #fff;
  font-size: 16px;
  padding:10px;	
}
.u-btn.loginfb,
.u-btn.loginfb:focus,
.u-btn.loginfb:active {
	background-color: #3B5998;
}
.u-btn.loginfb:hover {
	background-color: #3964a8;
}
.u-btn.loginvk,
.u-btn.loginvk:focus,
.u-btn.loginvk:active {
	background-color: #42658B;
}
.u-btn.loginvk:hover {
	background-color: #476d95;
}
.u-img-login-icon {
	position: absolute;
  top: 6px;
  left: 20px;
}
.u-t-price {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #e65e5e;
  font-size: 24px;
  font-weight: 400;
}
.u-t-price.price-sm {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 95%;
}
.u-img-slider {
  width: 100%;
  min-height: 420px;
  margin-top: 8px;
  margin-bottom: 8px;
  float: right;
  background-color: transparent;
}
.u-img-author-m {
  position: static;
  display: block;
  margin-right: auto;
  margin-bottom: 6px;
  margin-left: auto;
  float: none;
  border-radius: 79px;
  box-shadow: none;
  text-align: center;
  max-width:96px;
  max-height:96px;
}
.u-img-author-m.sm {
  width:62px;
  height:62px;
}
.u-img-author-m.large {
    max-height: 110px;
    max-width: 110px;
    width:110px;
    height:110px;
}

.u-block-owner {
  display: block;
  height: 100%;
  margin: 0px auto;
  padding-top: 30px;
  background-color: transparent;
  text-align: center;
}
.u-block-owner.addition {
  padding-top: 4px;
}
.u-block-owner.addition2 {
  width: 75%;
  min-width: 50px;
  padding-top: 10px;
}
.u-navbar-header {
  float: none;
  background-color: white;
  box-shadow: #18293b 0px 0px 8px 0px;
}
.u-t-comptitle {
  position: relative;
  left: 0px;
  top: 4px;
  bottom: 0px;
  display: inline;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 16px;
  padding-top: 0px;
  float: none;
  font-family: Roboto, sans-serif;
  color: #00ccc5;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 1px;
  list-style-type: disc;
}
.u-nav-menu {
  height: 66px;
  color: #373d40;
}
.u-nav-link {
  display: inline-block;
  border-bottom: 3px solid transparent;
  color: #00ccc5;
}
.u-nav-link:visited,
.u-nav-link:focus,
.u-nav-link:active {
  color: #00c7c0;
  text-decoration: none;
}
.u-nav-link:hover {
  border-bottom-style: solid;
  border-bottom-color: #00ccc5;
  color: #0be3dc;
}
.u-nav-link.w--current {
  border-bottom-style: solid;
  border-bottom-color: #00c7c0;
  color: #00c7c0;
}
.u-nav-link.w--current:hover {
  color: #0be3dc;
}
.u-nav-link.hidden {
  display: none;
}
.u-nav-link.vertical {
  display: block;
  border-left: 3px solid transparent;
  border-bottom-style: none;
  border-bottom-width: 0px;
}
.u-nav-link.vertical:hover {
  border-bottom: 0px none transparent;
  border-left: 3px solid #00ccc5;
}
.u-img-complogo {
  position: static;
  display: inline-block;
  float: none;
  clear: none;
}
.u-block-ownertext {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 1px solid #cfd9db;
  border-right: 1px solid #cfd9db;
  border-left: 1px solid #cfd9db;
  text-align: center;
}
.u-nav-content {
  max-width: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.u-col-card {
  display: block;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 4px;
  padding-left: 4px;
}
.u-t-price2 {
  font-size: 16px;
}
.u-t-price2.price-sm {
  font-size: 90%;
}
.u-slide {
  display: inline-block;
}

.u-slider-ico {
  box-shadow: none;
  color: #00ccc5;
  text-shadow: #373d40 1px 1px 5px;
}
.u-lnk-norm,
.u-lnk-norm:visited,
.u-lnk-norm:focus,
.u-lnk-norm:active {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  color: #00ccc5;
  line-height: 18px;
  text-decoration: none;
}
.u-lnk-norm:hover {
  color: #0be3dc;
  text-decoration: underline;
}
.u-lnk-norm.press {
  font-weight: 500;
  text-decoration: underline;
}

.u-lnk-small,
.u-lnk-small:visited,
.u-lnk-small:focus,
.u-lnk-small:active {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  color: #00ccc5;
  line-height: 18px;
  text-decoration: none;
  font-size: 12px;
}
.u-lnk-small:hover {
  color: #0be3dc;
  text-decoration: underline;
}
.u-lnk-small.press {
  font-weight: 500;
  text-decoration: underline;
}
.u-lnk-norm.h1 {
  padding-right: 13px;
  padding-left: 14px;
  float: right;
  font-size: 14px;
}
.u-lnk-norm.h1:hover {
  color: #0be3dc;
}
.u-row-top {
  padding-top:10px;
}
.u-row-bottom {
  padding-bottom:10px;
}
.u-row-descr {
  padding: 6px 10px 11px;
  border-top: 1px solid #e8e8e8;
  font-size: 14px;
}
.u-row-descr.head {
  margin-top: 8px;
  padding-bottom: 0px;
  border-top-style: none;
  border-top-width: 0px;
}
.u-t-small {
  color: rgba(107, 115, 114, 0.65);
  font-size: 12px;
  line-height: 18px;
}
.u-t-small.center {
  margin-top: 20px;
  padding-right: 26px;
  padding-left: 26px;
}
.empty {
  height: 100%;
}
.u-sect-page-footer {
  position:relative;
  display: block;
  background-color: #C0DEDE;
  z-index:1000;
}
.u-block-footer-social {
  padding: 4px 10px 14px;
  background-color: #C0DEDE;
  text-align: left;
}
.u-block-footer-social .w-row {
	padding-left: 33.33333333%;
	margin-left: -33px;
}
.u-lnk-footer2 {
  position: relative;
  display: block;
  margin-right: auto;
  margin-bottom: 6px;
  line-height: 14px;
  text-decoration: none;
  color:#42565A;
}
.u-lnk-footer2:hover {
  text-decoration: underline;
  color: #607275;
}
.u-lnk-footer-social {
  margin-top: 10px;
  margin-right: 6px;
  margin-left: 26px;
  padding: 2px 4px;
  text-decoration: none;
  width:36px;
}
.u-sect-card-map {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.u-sect-card-reviewlst {
  margin-top: 18px;
  margin-bottom: 18px;
}
.u-block-author-reviewlst {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.u-img-author-sm {
  position: absolute;
  right: 2px;
  bottom: 38px;
  z-index: 50;
  max-width: 62px;
  max-height: 62px;
  margin-top: 16px;
  padding-top: 1px;
  float: right;
  border-radius: 79px;
}
.u-img-author-sm.sm {
  right: 1px;
  bottom: 2px;
  max-width: 46px;
  max-height: 46px;
}
.stars_author {
  display: block;
  margin-top: 4px;
  margin-right: auto;
  margin-left: auto;
}
.u-btn-primary,
.u-btn-primary:visited,
.u-btn-primary:focus,
.u-btn-primary:active {
  padding: 6px 10px;
  float: right;
  border-radius: 2px;
  background-color: #00ccc5;
  color: white;
  font-weight: 400;
  text-decoration: none;
}
.u-btn-primary:hover {
  background-color: #00c7c0;
}
.u-btn-primary.left {
  float:left;
}
.u-btn-primary.nofloat {
  float:none;
}
.u-btn-regular,
.u-btn-regular:visited,
.u-btn-regular:focus,
.u-btn-regular:active {
  padding: 6px 10px;
  margin-right: 5px;
  margin-left: 5px;
  float: right;
  border-radius: 2px;
  background: none;
  color: #00ccc5;
  font-weight: 400;
  text-decoration: none;
}
.u-btn-regular:hover {
  color: #0be3dc;
}
.u-btn-regular.left {
  float:left;
}
.u-btn-regular.nofloat {
  float:none;
}
textarea.u-form-area-v {
  resize: vertical;
}
.u-form-body {
  padding: 10px;
  background-color: white;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  z-index: 400;  
}
.u-col-cardlst1 {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.u-col-cardlst2 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
}
.u-form-title {
  margin-bottom: 0px;
  padding: 6px 8px;
  border-style: none none solid;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-bottom-color: #cfd9db;
  border-left-width: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #f1f1f1;
  color: #7d9091;
  font-size: 16px;
  font-weight: 500;
}
.u-form-wrapper {
  margin-bottom: 0px;
  background-color: white;
  box-shadow: rgba(107, 115, 114, 0.88) 0px 1px 3px 0px;
}
.u-form-field {
  padding: 4px 8px 4px 8px;
  height:38px;
  border: 1px solid #cfd9db;
  border-radius: 2px;
}
.u-form-field.rel {
  position: relative;
  display: inline-block;
  width: 120px;
  margin-right: 20px;
}
.u-form-field.rel2 {
  position: relative;
  display: inline-block;
  width:auto;
}
.u-col-has-dates .u-datepicker-holder.has-icon {
  margin-right:20px;
}
.u-form-field.rel.dtcard {
  width: 130px;
  margin-right: 0px;
  margin-bottom: 0px;
  float: left;
  border-color: #cfd9db;
  border-radius: 0px;
}
.u-form-field.rel.dtcard.right {
  float: right;
  border-left-style: none;
  border-left-width: 0px;
}
.has-error {
  border-color: #ed5466;
}
.u-form-field.has-error {
  border: 1px solid #ed5466;
}
.has-error .u-form-field {
  border-color: #ed5466;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
  color: #ed5466;
}

.u-block-cardlst {
  position: relative;
  z-index: 110;
  padding-top: 0px;
  padding-bottom: 4px;
}
.u-lnk-cardlst-img {
  margin-right: 4px;
}
.u-img-author-review {
  width: 76px;
  margin-top: 8px;
  padding-top: 0px;
  border-radius: 79px;
}
.u-block-spacer {
  display: block;
  width: 20px;
  height: 20px;
}
.u-block-spacer2 {
  height: 12px;
  margin-bottom: 8px;
  border-bottom: 1px solid #e8e8e8;
}
.u-block-footer-logo {
  margin-top: 10px;
}
.u-block-footer-logo .u-t-comptitle {
	Zcolor: #f2f5f5;
}
.u-t-copyright {
  margin-left: 16px;
  color: #1f536b;
  font-size: 12px;
}
.descr {
  font-size: 14px;
}
.u-block-faded {
  color: #d6d6d6;
}
.u-block-form-modal {
  position: absolute;
  left: 0px;
  top: 70px;
  right: 0px;
  z-index: 200;
  display: none;
  max-width: 400px;
  min-width: 400px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #cfd9db;
  border-radius: 2px;
  background-color: white;
  box-shadow: #7d9091 1px 1px 3px 0px;
}
.u-row-search {
  padding-right:20px;
  padding-top: 10px;
}
.u-row-search .w-col > .w-button {
  padding:6px 10px;
}
h1.search-result {
  margin-top: 14px;
  padding-left: 8px;
}
.u-block-filter-add {
  background-color: #fff;
}
.u-block-filter-add .w-form .u-form-body {
  background-color: #F4F5F4;
}
.u-block-filter-toggle {
  background-color: #EAECEA;
  padding:6px 10px;
}
.u-block-filter-add {
  position: relative;
  z-index: 100;
}
.u-row-cardlst {
  padding: 8px;
  border-bottom: 1px solid #e8e8e8;
  font-size: 14px;
}
.u-row-cardlst:hover {
  background-color: #F3F7FF;
}
.u-row-cardlst.bordered {
  margin-top: 14px;
  border: 1px solid #e8e8e8;
}
.u-block-cardlst-map {
  display: inline-block;
  min-height: 300px;
  min-width: 420px;
  height:450px;
  width:100%;
}
.u-block-cardlst-map.rollup {
  height:300px;
}  
.hidden {
  display: none;
}
.card_lst_rate {
  display: inline;
  font-size: 14px;
}
.u-form-label.n1 {
  font-weight: 500;
}
.u-form-label.rel {
  display: inline-block;
}
.txt {
  top: 0px;
  display: inline-block;
  margin-bottom: 0px;
  float: left;
}
.u-block-underline {
  border-bottom: 1px solid #e8e8e8;
}
.u-block-underline.h3 {
  margin-top: 20px;
  margin-bottom: 4px;
}
.u-block-map-spacer {
  height: 0px;
}
.u-t-right {
  display: inline-block;
  float: right;
}
.u-t-left {
  display: inline-block;
  float: left;
}
.u-t-center {
  text-align: center;
}
.u-tab-cont1 {
  border-style: solid none;
  border-width: 1px;
  border-color: #E0E7F0;
}
.u-btn-grey {
  display: inline-block;
  padding: 6px 10px;
  border: 1px solid #cfd9db;
  border-radius: 2px;
  background-color: #ecf0f1;
  color: #6a6a6a;
  font-size: 13px;
  text-decoration: none;
}
.u-btn-grey:visited,
.u-btn-grey:focus,
.u-btn-grey:active {
  color: #6a6a6a;
  text-decoration: none;
}
.u-btn-grey:hover {
  border-color: #c0cdd1;
  background-color: #dde4e6;
}
.u-btn-grey.btn-sm {
  margin-left: 20px;
  padding: 2px 6px;
}
.u-list-gender {
  padding-left: 14px;
}
.u-block-cardprice {
  position: relative;
  display: block;
  width: 260px;
  min-height: 180px;
  margin: 8px auto 10px;
}
.u-form-wrapper-simple {
  margin-bottom: 0px;
}
.u-t-label-cardprice {
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid #cfd9db;
  background-color: #e8e6e6;
  text-align: center;
}
.u-t-middle {
  font-size: 14px;
}
.u-t-err {
  color: #ed5466;
}
.u-t-rel {
  display: inline;
}
.u-row-underline {
  padding-top: 8px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
}
.u-row-underline.old {
  background-color: #f8f8f8;
}
.u-row-underline.header {
  color:678796;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 8px;
  background-color: #BCD3F3;
}
.u-btn-booked {
  display: none;
  border-style: none;
  border-width: 0px;
  border-radius: 0px;
  background-color: #91c854;
  color: white;
  font-weight: 300;
}
.u-col-query {
  padding-top: 6px;
  padding-left:2px; 
  padding-right:2px;
}
.u-col-footer {
  padding-top: 10px;
  padding-bottom: 10px;
}
.u-block-centered {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}
.u-lnk-lang {
  width: 34px;
  height: 32px;
  margin-top: 10px;
  margin-right: 6px;
  margin-left: 6px;
  padding-top: 4px;
  border: 1px solid #1f536b;
  color: #1f536b;
  text-align: center;
  text-decoration: none;
}
.u-lnk-lang:hover {
  background-color: #e1ff59;
  color: #1f536b;
  text-decoration: underline;
}
.u-lnk-lang.current {
  background-color: #e1ff59;
  color: #1f536b;
  text-align: center;
  text-decoration: none;
  border: 1px solid #e1ff59;
}
.u-lnk-lang.current:hover {
  text-decoration: underline;
}
.u-col-lang {
  text-align: right;
}
.u-row-cardhist {
  max-width: 310px;
  padding: 4px;
  border: 1px solid #e8e8e8;
  background-color: #f2f2f2;
}
.u-row-cardhist.bottom {
  border-top-style: none;
  border-top-width: 0px;
  text-align: center;
}
.u-col-cardhist {
  padding-right: 4px;
  padding-left: 0px;
}
.u-block-card-desc {
  padding-left: 8px;
  clear: left;
  font-size: 14px;
}
.u-block-lnk {
  cursor:pointer;
}
.u-block-tabs {
  margin-right: 8px;
  margin-left: 8px;
}
.u-t-light {
  color: #c4c4c4;
}
.u-dropdown {
  top: -19px;
}
.u-btn-danger, 
.u-btn-danger:visited,
.u-btn-danger:active,
.u-btn-danger:focus {
  border: 1px solid #ec465a;
  background-color: #ed5466;
  color: white;
  font-weight: 300;
  text-decoration: none;
}
.u-btn-danger:hover {
  border-color: #e92f45;
  background-color: #eb3d51;
  color: white;
  text-decoration: none;
}
.u-block-right {
  float: right;
  text-align: right;
}
.u-block-slide {
  display: block;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}
.u-t-date-r {
  position: relative;
  right: 0px;
  bottom: 0px;
  margin-right: 10px;
  float: right;
  color: rgba(107, 115, 114, 0.65);
  font-size: 12px;
  line-height: 20px;
}
.u-sect-main {
  height: auto; 
  min-height: 525px;
}
html.w-mod-js *[data-ix="hide-on-load"] {
  display: none;
}
/*landing*/
.u-sect-hero {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 600px;
  padding-top: 200px;
  background-image: -webkit-linear-gradient(rgba(59, 31, 25, 0.44) 1%, rgba(23, 46, 53, 0.2) 98%), url('../img/main_bg.jpg');
  background-image: linear-gradient(rgba(59, 31, 25, 0.44) 1%, rgba(23, 46, 53, 0.2) 98%), url('../img/main_bg.jpg');
  background-position: left bottom;
  background-size: cover;
}
.u-sect-land.under {
  padding-top: 4px;
  padding-bottom: 16px;
}
.u-t-h1-land {
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}
.u-t-h1-land.sub1 {
  font-family:'Varela Round', sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  text-transform: none;
}
.u-btn-land {
  display: block;
  width: 175px;
  margin-right: auto;
  margin-left: auto;
  border: 2px none white;
  border-radius: 2px;
  background-color: #00c7c0;
  text-align: center;
  text-decoration: none;
  cursor:pointer;
}
.u-btn-land:hover,
.u-lnk-small:focus,
.u-lnk-small:active 
 {
  background-color: #64d3f5;
  color: rgba(255, 255, 255, 0.82);
  text-decoration: none;
  cursor:pointer;
}
.u-block-land {
  padding-top: 8px;
}

.u-t-h1 {
  border-bottom: 1px solid #a5a8a8;
  color: #a5a8a8;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top:20px;
}
.u-t-h1.main {
	width: 200px;
}
.u-col-howto {
  padding: 10px 15px 20px 10px;
}
.u-col-howto.card {
  cursor:pointer;
}
.u-col-howto.card:hover {
  background-color: #eef6f7;
  cursor:pointer;
}
.u-col-howto.card h2 {
  margin-top: 16px;
  line-height: 22px;
	font-weight: 400;  
}
.u-col-howto p {
    display: block;
    height: auto;
    padding-top: 4pt;
}
.u-col-howto p.card-footer {
	float:right;
	width:114pt;
	line-height: 16px;
	margin-top: 8px;
}
.u-col-howto p.card-footer i {
  color:#4ac2c9; 
  font-weight: 400;
  vertical-align: text-top;
}
.u-col-howto.eula {
  overflow-x:hidden;
  overflow-y:scroll;
  max-height: 460px;
}
.u-t-h1-land2 {
  padding-top: 4px;
  padding-bottom: 4px;
  color: black;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}
.u-t-h1-land2.sub {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 22px;
  font-size: 33px;
  font-style: italic;
}
.u-block-land-item {
  width: 25%;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
}
.u-block-land-item.center {
  width: 100%;
}
.u-block-search-main {
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
}
.u-block-search-main .u-form-wrapper {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
}
.u-block-search-main .u-form-wrapper .u-form-body {
  background-color: rgba(255, 255, 255, 0);
}
.u-block-search-main .u-form-wrapper .u-form-body h3 {
  color: rgba(125, 144, 145, 0);
}

.u-t-article-topic {
  margin-top: 16px;
  line-height: 22px;
	font-weight: 400;  
	cursor: pointer;
	padding: 6px;
}
.u-t-article-topic:hover {
	color: #e1ff59;
}
.u-t-article-topic.active {
	background-color: #eef6f7;
}
.u-t-article-topic.active:hover {
	color: #4ac2c9 !important;
}

.u-block-fade-bottom {
  height:150px;
  width:100%;
  z-index:100;
  background:-moz-linear-gradient(top, rgba(244,247,243,0) 0%, rgba(244,247,243,0.6) 44%, #f4f7f3 73%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(44%, rgba(244,247,243,0.6)), color-stop(73%, #f4f7f3));
  background:-webkit-linear-gradient(top, rgba(244,247,243,0) 0%, rgba(244,247,243,0.6) 44%, #f4f7f3 73%);
  background:-o-linear-gradient(top, rgba(244,247,243,0) 0%, rgba(244,247,243,0.6) 44%, #f4f7f3 73%);
  background:-ms-linear-gradient(top, rgba(244,247,243,0) 0%, rgba(244,247,243,0.6) 44%, #f4f7f3 73%);
  background:linear-gradient(to bottom, rgba(244,247,243,0) 0%, rgba(244,247,243,0.6) 44%, #f4f7f3 73%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff0', endColorstr='#f4f7f3',GradientType=0 )
}

/*--------------------------------- media ---------------------------------*/
@media (max-width: 991px) {
  p {
    display: inline;
  }
  .u-img-slider {
    min-height: 234px;
  }
  .u-block-owner {
    padding-top: 14px;
  }
  .u-nav-menu {
    max-width: 200px;
    min-width: 200px;
    background-color: #f2f2f2;
  }
  .u-nav-link {
    min-width: 200px;
    border-bottom: 1px solid #cfd9db;
    border-left: 3px solid #f2f2f2;
  }
  .u-nav-link:hover {
    min-width: 200px;
    border-bottom: 1px solid #cfd9db;
    border-left: 3px solid #00ccc5;
  }
  .u-nav-link.w--current {
    border-bottom-color: #cfd9db;
    border-left-color: #00ccc5;
  }
  .u-nav-icon {
    color: #00ccc5;
  }
  .u-nav-button {
    left: 0px;
    top: 4px;
    right: 0px;
    bottom: 0px;
    float: right;
    background-color: transparent;
    color:#00ccc5;
    z-index:1000;
  }
  .u-nav-button.w--open {
    background-color: transparent;
  }
  .u-nav-button.w--open:active {
    background-color: transparent;
  }
  .u-sect-card-map {
    width: 100%;
  }
  .u-img-author-sm {
    right: 2px;
  }
  .u-row-cardlst {
    padding-right: 14px;
  }
  .u-lnk-lang {
    width: 34px;
    height: 32px;
    margin-top: 10px;
    margin-right: 6px;
    margin-left: 6px;
    padding-top: 4px;
    border: 1px solid #e1ff59;
    color: #e1ff59;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
  }
  .u-lnk-lang.current {
    background-color: #e1ff59;
    color: #1f536b;
  }
  .u-col-lang {
    text-align: right;
  }
  .u-dropdown {
    top: 0px;
  }
  .u-block-cardlst-map {
    height:420px;
  }  
  .u-block-cardlst-map.rollup {
    height:420px;
  }    
  .u-form-field.address {
    width:100%;
  }  
  .u-sect-hero {
    padding-top: 80px;
    padding-bottom: 360px;
  }  
  .u-t-h1 {
    margin-left:10px;
    margin-right:10px;
  }

}
@media (max-width: 767px) {
  p {
    display: inline;
  }
  .u-img-slider {
    min-height: 420px;
  }
  .u-t-comptitle {
    font-size: 20px;
  }
  .u-block-underline.h3 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .u-block {
    padding-right: 10px;
    padding-left: 10px;
  }
  .u-form-field.address {
    width:100%;
  }    
}
@media (max-width: 479px) {
  p {
    display: inline;
  }
  .u-img-slider {
    height: 234px;
    min-height: 234px;
  }
  .u-t-comptitle {
    font-size: 12px;
  }
  .u-nav-menu {
    background-color: white;
    box-shadow: #7d9091 -1px 1px 3px 0px;
  }
  .u-nav-link {
    background-color: #f8f8f8;
  }
  .u-t-price2.price-sm {
    display: inline;
  }
  .u-lnk-footer2 {
    padding-left: 6px;
  }
  .u-lnk-footer-social {
    display: inline-block;
  }
  .u-lnk-footer-social .w-row {
    padding-left:0px;
  }
  .u-lnk-footer-social {
  	margin-left:2px;
  }  
  .u-img-author-sm.sm {
    width: 62px;
    height: 62px;
  }
  .u-t-copyright {
    font-size: 10px;
  }
  .u-col-footer {
    padding-right: 0px;
    padding-left: 0px;
  }
  .u-lnk-lang:hover {
    background-color: #e1ff59;
    color: #1f536b;
    text-decoration: underline;
  }
  .u-col-lang {
    padding-right: 0px;
    padding-left: 0px;
  } 
  .u-block-cardlst-map {
    max-width:479px; 
    height:340px;
  }  
  .u-block-cardlst-map.rollup {
    height:340px;
  }   
  .u-form-field.address {
    width:100%;
  }  
  .u-form-field.rel2 {
    width:100%;
  }  
  .u-btn.filter  span {
  	display:none;
  }
	.u-block-lnk {
		padding-left: 8px;  
	}
  .u-col-howto.eula {
    height: 370px;
  }  
}

/* --------- added ----------*/
.w-input {
	border-radius:2px;
}
.w-input:focus {
	border-color:#0be3dc;
}
textarea.w-input {
  height: 88px;
}
.w-button.block {
	display:block;
	width:100%;
}
/*кнопка мобильного меню*/
.w-dropdown-btn, .w-dropdown-toggle, .w-dropdown-link {
  color: #00ccc5;
}
.w-nav[data-animation="over-right"] .w-nav-overlay, .w-nav[data-animation="over-right"] .w--nav-menu-open {
  z-index: 800;
}
.w-col.padr {
  padding-right:20px;
}
.w-col.padl {
  padding-left:20px;
}

/*иконки в главном меню*/
/*вариант 1*/
.u-menu-item {
  float:right;
}
.w-dropdown-toggle.item {
  padding-bottom: 0px;
  padding-top: 14px;
  padding-right:20px;
}
.glyphicon.u-nav-icon {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}
.glyphicon.btn {
  margin-right: 4px; 
  position:relative; 
  margin-bottom:3px;
}
.avatar {
  position:absolute;
  display: table-cell;
  vertical-align: middle;
  width: 34px;
  height: 34px;
  top: 0px;
  padding-top: 14px;    
}
.avatar > img {
  display: block;
  width: 100%;
  vertical-align: middle;
}
/*-----*/
.u-block-img-holder {
  display:inline-block;
  vertical-align: top;
}
.u-block-img-holder > img {
  display:inline-block;
  margin:6px;
}
.u-img-card {
  max-width:300px;
  max-height:225px;
}
.glyphicon.u-request-direct {
  font-size: 24px;
  font-weight: 200;
  margin-top: 14px;
  margin-left:14px;
  color: lightgrey;
}
.glyphicon.u-request-direct.my {
  color:#00ccc5;
}
.u-block-loader-bg {
    display: none;
    position: fixed;
    z-index: 2001;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 6px;
    cursor: progress;
}
.u-block-loader-bg > .spinner {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 36px;
    height: 36px;    
    margin-top: -9px;
    margin-left: -9px;
    background-image: url("../img/loader.gif");
    background-repeat: no-repeat;
}

.hightLight {
    color: #e65e5e;
}
@media (min-height:600px) {
  .u-sect-main {
    min-height: 525px;
  }		
}
@media (min-height:640px) {
  .u-sect-main {
    min-height: 605px;
  }		
}
@media (min-height:768px) {
  .u-sect-main {
    min-height: 752px;
  }		
}
@media (min-height:960px) {
  .u-sect-main {
    min-height: 864px;
  }	
@media (min-height:1024px) {
  .u-sect-main {
    min-height: 950px;
  }		
}